flask==3.0.3
flask-restful==0.3.10
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
flask-jwt-extended==4.6.0
python-dotenv==1.0.1
marshmallow==3.21.1
pytest==8.1.1
gunicorn==21.2.0
flask-swagger-ui==4.11.1
werkzeug==3.0.1
